
<div class="panel panel-default">
    <div class="panel-heading">Input Git Username/Repo</div>
    <div class="panel-body">
        <form class="form-horizontal" >
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label"><span class="pull-left">Github Username:</span></label>
                <div class="col-sm-6">
                    <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="repository" class="col-sm-3 control-label"><span class="pull-left">Repository name:</span></label>
                <div class="col-sm-6">
                    <input ng-model="model.user.password" type="text" class="form-control" id="repository"
                           placeholder="Repository Name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button class="btn btn-success btn-block" id="get-stats-button" >
                        Get the latest release stats!
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

   <!--<h1>Enter Project details</h1>
            <div class="form form-inline">
                <div class="form-group">
                    <input type="text" class="col-sm-9" id="username" placeholder="Github username">
                </div>
                <div class="form-group">
                    <input type="text" class="col-sm-9" id="repository" placeholder="Repository name">
                </div>
                <button class="btn btn-success btn-block" id="get-stats-button" >Get the latest release stats!</button>
            </div>-->
     <!--   </div>
    </div>-->
    <div class="row" id="description">

    </div>

    <div class="row" id="stats-result">
    </div>
    <div id="loader-gif">
        <img src="img/gif-load.gif">
    </div>



