<h1>Admin</h1>
<h2>Users</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Username</th>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Password</th>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Role</th>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" class="form-control" id="username2" placeholder="username"></td>
            <td><input type="text" class="form-control" id="password2" placeholder="password"></td>
            <td><input type="text" class="form-control" id="role2" placeholder="Role1, Role2"></td>
            <td><a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="#"><span class="glyphicon glyphicon-ok"></span></a></td>

        </tr>
        <tr>
            <td>Alice</td>
            <td></td>
            <td>student</td>
            <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>

        </tr>
        <tr>
            <td>Bob</td>
            <td></td>
            <td>facilty|admin</td>
            <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>

        </tr>
        <tr>
            <td>Joe</td>
            <td></td>
            <td></td>
            <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>

        </tr>

        </tbody>
    </table>
</div>
