

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Forms</a></li>
                <li role="presentation"><a href="form-fields.view.html">Fields</a></li>
            </ul>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th> <a href = "#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Form Name</th>
                        <th class="form-icons"> <a href = "#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" class="form-control" id="username2" placeholder="name"></td>
                        <td class="form-icons">
                            <div class="g-icons">
                                <a href = "#"><span class="glyphicon glyphicon-plus"></span></a>
                                <a href = "#"><span class="glyphicon glyphicon-ok"></span></a>
                                </div></td>

                    </tr>
                    <tr>
                        <td><a href="form-fields.view.html">Registration Form</a></td>
                        <td class="form-icons">
                            <div class="g-icons">
                                <a href = "#"> <span class="glyphicon glyphicon-remove"></span></a>
                                <a href = "#"> <span class="glyphicon glyphicon-pencil"></span></a>
                        </div></td>

                    </tr>
                    <tr>
                        <td><a href="form-fields.view.html">Contact List</a></td>
                        <td class="form-icons">
                            <div class="g-icons">
                                <a href = "#"> <span class="glyphicon glyphicon-remove"></span></a>
                                <a href = "#"> <span class="glyphicon glyphicon-pencil"></span></a>
                        </div></td>

                    </tr>
                    <tr>
                        <td><a href="form-fields.view.html">To Do List</a></td>
                        <td class="form-icons">
                            <div class="g-icons">
                                <a href = "#"> <span class="glyphicon glyphicon-remove"></span></a>
                                <a href = "#"> <span class="glyphicon glyphicon-pencil"></span></a>
                                </div></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
