
<div id="header">
<h2 style="font-family:Trebuchet MS;font-weight:bold" align="center">{{model.message}}<p><small> {{ model.message2}}</small></p></h2>
</div>

<div class="container">

                <!-- Table -->

             <div ng-show ="model.sh != null && model.sh.length > 0" class = "table-responsive">
                <table align ="center" class="table table-condensed table-striped table-bordered table-hover no-margin ">
                    <thead>
                    <tr>
                        <th> Repository</th>
                        <th>Owner</th>
                        <!--<th>Accessed On</th>-->

                    </tr>
                    </thead>
                    <tr ng-repeat="details in model.sh">
                        <td>
                            {{details[0].repo}}
                        </td>
                        <td>
                            {{details[0].owner}}
                        </td>

                      <!--  <td>
                            <mydate>{{details.week *1000 | date:'medium'}}</mydate>
                        </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
