hr {
    width: 100%;
    align: left;

}
.hover{
    cursor: pointer;
}
.row{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.form-border{

    border: 1px solid #ddd;
}

.g-icons{

    align-items: center;
}

