hr {
    width: 100%;
    align: left;

}

.row{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.form-border{

    border: 1px solid #ddd;
}

.g-icons{
    float: right;
}

.h1-search{
    color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 25px; font-weight: 700;  margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase;
}
.h2-details {
    color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 25px; font-weight: 700;  margin: 0 0 24px; padding: 0 30px; text-align: center; text-transform: uppercase;
}

.slidesheader { color: #111;  font-family: 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: 700;  margin: 0 0 24px; padding: 0 30px; text-align: center; text-transform: capitalize;
}

@media(max-width:767px) {
    .content-section-a {
        padding: 50px 0;
        background-color: #f8f8f8;
    }

    .content-section-b {
        padding: 50px 0;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
    }

    .section-heading {
        margin-bottom: 30px;
    }

    .section-heading-spacer {
        float: left;
        width: 200px;
        border-top: 3px solid #e7e7e7;
    }
}

.sortorder:after {
    content: '\25b2';
}
.sortorder.reverse:after {
    content: '\25bc';
}

