<a ng-click="model.editField(field)" type="button" data-toggle="modal" class="btn btn-default" data-target="#editField">
    <span class="glyphicon glyphicon-pencil hover"></span>
</a>
<a type="button" class="btn btn-default" >
    <span class="glyphicon glyphicon-plus hover"></span>
</a>
<a ng-click="model.deleteField(field)" type="button"class="btn btn-default" >
    <span class="glyphicon glyphicon-remove hover"></span>
</a>
<a type="button" ng-click="model.reorder()" class="btn btn-default" >
    <span class="glyphicon glyphicon-align-justify hover"></span>
</a>
<!--

class="btn btn-warning"
class="btn btn-success"
class="btn btn-danger"
class="btn btn-info"-->
