<h1>Forms</h1>
<ul class="nav nav-tabs">
    <li ng-class="{'active' : $location.url() == '/forms'}"><a href="#/forms">Forms</a></li>
    <!--<li><a href="#/forms-fields">Fields</a></li>-->
    <li><a href="#">Fields</a></li>
</ul>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th><a href=""><span class="glyphicon glyphicon-triangle-bottom"></span></a> Form Name</th>
            <th class="form-icons"><a href=""><span class="glyphicon glyphicon-triangle-bottom"></span></a> Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" class="form-control" ng-model="formName" id="username2" placeholder="name"></td>
            <td class="form-icons">
                <div class="g-icons">
                    <a ng-click="addForm(formName)" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span></a>
                    <a ng-click="updateForm(formName)" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok"></span></a>
                </div>
            </td>

        </tr>
        <!--<tr ng-repeat="form in forms">-->
           <!-- <td><a href="#/forms-fields">{{form.title}}</a></td>-->
        <tr ng-repeat="form in forms" >
            <td><a href="#/form/{{form._id}}/fields">{{form.title}}</a></td>
            <td class="form-icons">
                <div class="g-icons">
                    <a ng-click="deleteForm($index)" class="btn btn-default"> <span
                            class="glyphicon glyphicon-remove"></span></a>
                    <a ng-click="selectForm($index)" ng-model="index" class="btn btn-default"> <span
                            class="glyphicon glyphicon-pencil"></span></a>
                </div>
            </td>

        </tr>


        </tbody>
    </table>
</div>
