<h1>Forms</h1>
<ul class="nav nav-tabs">
    <li ng-class="{'active' : $location.url() == '/forms'}"><a href="#/forms">Forms</a></li>
    <!--<li><a href="#/forms-fields">Fields</a></li>-->
    <li><a href="javascript:void(0)">Fields</a></li>
</ul>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th><a href=""><span class="glyphicon glyphicon-triangle-bottom"></span></a> Form Name</th>
            <th class="form-icons"><a href=""><span class="glyphicon glyphicon-triangle-bottom"></span></a> Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" class="form-control" ng-model="model.form.title" id="username2" placeholder="name"></td>
            <td class="form-icons">
                <div class="g-icons">
                    <a ng-show="model.selectedForm" ng-click="model.unselectForm()" class="glyphicon glyphicon-remove btn btn-danger"></a>
                    <a ng-hide="model.selectedForm" ng-click="model.addForm(model.form)" class="glyphicon glyphicon-plus btn btn-primary"></a>
                    <a ng-show="model.selectedForm" ng-click="model.updateForm(model.form)" class="glyphicon glyphicon-ok btn btn-success"></a>       </div>
            </td>

        </tr>
        <!--<tr ng-repeat="form in forms">-->
           <!-- <td><a href="#/forms-fields">{{form.title}}</a></td>-->
        <tr ng-repeat="form in model.forms" >
            <td><a href="#/form/{{form._id}}/fields">{{form.title}}</a></td>
            <td class="form-icons">
                <div class="g-icons">
                    <a ng-click="model.deleteForm(form)" class="glyphicon glyphicon-remove btn btn-danger"></a>
                    <a ng-click="model.selectForm(form)" class="glyphicon glyphicon-pencil btn btn-info"></a>
                </div>
            </td>

        </tr>


        </tbody>
    </table>

</div>
