<button ng-click="model.editField(field)" type="button" class="btn btn-warning" data-toggle="modal" data-target="#editField">
    <span class="glyphicon glyphicon-pencil"></span>
</button>
<button type="button" class="btn btn-success">
    <span class="glyphicon glyphicon-plus"></span>
</button>
<button ng-click="model.deleteField(field)" type="button" class="btn btn-danger">
    <span class="glyphicon glyphicon-remove"></span>
</button>
<button type="button" ng-click="model.reorder()" class="btn btn-info">
    <span class="glyphicon glyphicon-align-justify"></span>
</button>