<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url().indexOf('home') != -1} "><a href="#/home">Home<span class="sr-only">(current)</span></a></li>
        <li ng-if="user.logged" ng-class="{'active' : $location.url().indexOf('profile') != -1}"><a href="#/profile">Profile</a></li>
        <li ng-if="user.logged" ng-class="{'active' : $location.url().indexOf('forms') != -1}"><a href="#/forms">User Issues</a></li>
        <li ng-class="{'active' : $location.url().indexOf('search') != -1}"><a href="#/search">Search Repo</a></li>
        <li ng-if="repo_url" ng-class="{'active' : $location.url().indexOf('statistics') != -1}">
            <a ng-href="#/statistics/{{repo_url}}">Commit Activity</a></li>
        <li ng-class="{'active' : $location.url().indexOf('release') != -1}"><a href="#/release">Get Release Details</a></li>
         <li ng-class="{'active' : $location.url().indexOf('details') != -1}"><a href="#/slidebuilder">Build Repo Commit Presentation</a></li>
    </ul>
</div>