


<h1>Build Slide by Git Commits</h1>

    <input ng-model="sha" class="form-control"/>
    <!--<button ng-click="searchMovie(movieTitle)" class="btn btn-primary btn-block">-->
    <!--Search-->
    <!--</button>-->
    <a href="#/slidebuilder/{{sha}}" class="btn btn-primary btn-block">
        Generate
    </a>

<div ng-repeat="comments in data2.split('\n')">


</div>

<textarea>
{{data}}
</textarea>

<iframe width="400" height="400" marginheight="0" marginwidth="0" src="views/slides/slides_p.view..html">
    Fallback text here for unsupporting browsers, of which there are scant few.
</iframe>

