<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <h1  style="color:firebrick;font-family:inherit;font-weight:bold">GitViz</h1>
            <h2  style="color:white;font-family:sans-serif;font-weight:900">Git Repo Analyzer & Presenter</h2>

           <div class="row">
               <div class="col-sm-12"><h3  style="color:whitesmoke;font-family:Consolas">Click Learn More to Get Started</h3>
                   <div class="col-sm-12"> <p><a class="btn btn-lg btn-primary" href={{model.href}} role="button">Learn More</a></p></div>
               <!--<div class="row"> <div class="col-sm-12"> <p><a class="btn btn-lg btn-primary" href="#/search" role="button">Sign-up</a></p></div></div>-->
        </div>
    </div>
            </div>
        </div>
</header>


<!-- Page Content -->
<div class="container">

    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <img class="featurette-image img-circle img-responsive pull-right" src="img/search1.png">
            <h2 style="font-family:Rockwell" class="featurette-heading">Search Git Repo & View Statistics
            <!--<span class="text-muted">Will Catch Your Eye</span>-->
        </h2>
        <p style="font-family:Calisto MT" class="lead">Search Repos, learn statistics about your commit history and top issues, pull requests in a click.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Second Featurette -->
    <div class="featurette" id="contact">
        <img class="featurette-image img-circle img-responsive pull-left" src="img/ppt1.png">
        <h2 style="font-family:Rockwell" class="featurette-heading"> Commits Presenter
           <!-- <span class="text-muted">Is Pretty Cool Too.</span>-->
        </h2>
        <p style="font-family:Calisto MT" class="lead">Finding yourself copying a lot of code from a repository per commit into Powerpoint during training session/classes. Save time and use our Presenter to see commits on-the-fly. </p>
    </div>

    <hr class="featurette-divider">

    <!-- Third Featurette -->
    <div class="featurette" id="services">
        <img class="featurette-image img-circle img-responsive pull-right" src="img/release.png">
        <h2 style="font-family:Rockwell" class="featurette-heading">Fetch Git Release Details
           <!-- <span class="text-muted">Will Seal the Deal.</span>-->
        </h2>
        <p style="font-family:Calisto MT"class="lead">Easy Navigation and interface that helps you view any Git Repo details in seconds.</p>
    </div>

    </div>
