<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="text-center">Non Signed User</h3>
                    <p class="text-center">Two Features</p>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:30px"><strong>Limited Access</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-eye-open"></span> Search Git Repo by Username
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon  glyphicon-blackboard"></span> Git Repo Release details
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart"></span> Limited Support
                    </li>
                </ul>
                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#/search">SEARCH NOW</a> </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="text-center">Signed in User</h3>
                    <p class="text-center">Unlimited Features</p>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:30px"><strong>Unlimited Access</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <span class="glyphicon  glyphicon-eye-open"></span> Search Repo & View Statistics
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-blackboard"></span> On the Fly Commits Presenter & View Search History
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                    </li>
                </ul>
                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#/register">REGISTER NOW</a> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Navigation Tips</h3>
                </div>
                <div class="panel-body">
                    <p><div id="myh1" style="font-weight:bold ">Search Repo:</div> Enter Git Repo Username to see list of repostories and click on a repo name to view more details</p>
                    <p><div id="myh2" style="font-weight:bold ">Git Repo Release Fetcher</div>View published releases details of any git repo
                    <p><div id="myh3" style="font-weight:bold ">Sign in: </div>Users can sign in from links in right navigation or <a href="#/login">Click Here</a>
                    <p><div id="myh4" style="font-weight:bold ">Contact Us:</div> 24*7 Tech Support to help users in any website related issues</p>
                </div>
            </div>
            </div>
        </div>
</div>
