<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">GitViz</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse" >
          <!--  <ul class="nav navbar-nav navbar-left">
                <li ng-class="{'active' : $location.url().indexOf('home') != -1} "><a href="#/home">Home<span class="sr-only">(current)</span></a></li>
                <li ng-if="user.logged" ng-class="{'active' : $location.url().indexOf('profile') != -1}"><a href="#/profile">Profile</a></li>
                <li ng-if="user.logged" ng-class="{'active' : $location.url().indexOf('forms') != -1}"><a href="#/forms">User Issues</a></li>
                <li ng-class="{'active' : $location.url().indexOf('search') != -1}"><a href="#/search">Search Repo</a></li>
                <li ng-if="CurrentGitUser" ng-class="{'active' : $location.url().indexOf('statistics') != -1}">
                    <a ng-href="#/statistics/{{repo_url}}">Commit Activity</a></li>
                <li ng-if="CurrentGitUser.reponame" ng-class="{'active' : $location.url().indexOf('issuesdashboard') != -1}"><a href="#/issuesdashboard">Issues DashBoard</a></li>

                <li ng-class="{'active' : $location.url().indexOf('release') != -1}"><a href="#/release">Release Stats</a></li>
                <li ng-if="CurrentGitUser.reponame" ng-class="{'active' : $location.url().indexOf('details') != -1}"><a href="#/slidebuilder">Commit Slides</a></li>

            </ul>-->
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{'active' : $location.url().indexOf('home') != -1} "><a href="#/home">Home<span class="sr-only">(current)</span></a></li>
                <li ng-show="user.roles.indexOf('admin') > -1" ng-class="{'active' : model.$location.url() == '/forms'}"><a href="#/forms">User Issues Tracker</a></li>
                <li ng-show="user" ng-class="{'active' : $location.url().indexOf('repohistory') != -1}">
                    <a ng-href="#/repohistory/">Search History</a></li>
                <li ng-class="{'active' : $location.url().indexOf('search') != -1}"><a href="#/search">Search Git Repo</a></li>
                <li ng-class="{'active' : $location.url().indexOf('release') != -1}"><a href="#/release">Git Repo Release Fetcher</a></li>
                <li ng-if="user.recent_reponame && user" class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore More <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="user.recent_reponame" ng-class="{'active' : $location.url().indexOf('statistics') != -1}">
                            <a ng-href="#/statistics/{{repo_url}}">Commit Activity</a></li>

                        <li ng-if="user.recent_reponame" ng-class="{'active' : $location.url().indexOf('commits') != -1}">
                            <a ng-href="#/commits/">Commits Browser</a></li>
                        <li ng-if="user.recent_reponame" ng-class="{'active' : $location.url().indexOf('details') != -1}"><a href="#/slidebuilder">View Commits by SHA</a></li>
                        <li ng-if="user.recent_reponame" ng-class="{'active' : $location.url().indexOf('issuesdashboard') != -1}"><a href="#/issuesdashboard">Issues & Pull DashBoard</a></li>
                    </ul>
                </li>

            </ul>


            <ul class="nav navbar-nav navbar-right">
                <!--<li ng-if="!user.logged" ng-class="{'active' : $location.url().indexOf('register') != -1} "><a
                        href="#/register">Register</a>-->
                <li ng-hide="user" ng-class="{'active' : model.$location.url() == '/register'}"><a href="#/register">Register</a></li>
                <li ng-hide="user" ng-class="{'active' : model.$location.url() == '/login'}"><a href="#/login">Sign-In</a></li>
                <li ng-show="user" ng-class="{'active' : model.$location.url() == '/profile'}"><a href="#/profile">{{user.username}}</a></li>

                <li ng-show="user" ng-class="{'active' : model.$location.url() == '/logout'}"><a href ng-click="model.logoutUser()">Logout</a></li>
                <li ><a href="#/contact">Contact Us</a></li>
                <!--  <li ng-if="user.logged" ng-class="{'active' : model.$location.url() == '/logout'}"><a href ng-click="model.logout()">Logout</a></li>
-->

            </ul>

            {{username}}
        </div>
    </div>
</nav>
