<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">GitViz</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" >
            <ul class="nav navbar-nav navbar-right">
                <!--<li ng-if="!user.logged" ng-class="{'active' : $location.url().indexOf('register') != -1} "><a
                        href="#/register">Register</a>-->
                <li ><a href="#/contact">Contact</a></li>
                <li ng-if="user.logged"><a href="#/profile"><span ng-bind="user.username"></span></a></li>
                <li class="visible-xs" ng-if="user.logged"
                    ng-class="{'active' : $location.url().indexOf('forms') != -1}"><a href="#/forms">Forms</a></li>
                <li ng-if="isAdmin && user.logged"><a href="#/forms">Admin</a></li>
                <li ng-if="!user.logged" ng-class="{'active' : $location.url().indexOf('login') != -1} "><a
                        href="#/login"> Admin Login</a></li>
                <li ng-if="user.logged" ng-click="model.logoutUser()"><a href="#/home">Logout</a></li>
              <!--  <li ng-if="user.logged" ng-class="{'active' : model.$location.url() == '/logout'}"><a href ng-click="model.logout()">Logout</a></li>
-->

            </ul>

            {{username}}
        </div>
    </div>
</nav>
